/* ============================= */
/* GLOBAL THEME */
/* ============================= */

:root {
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --background: #f3f4f6;
  --card-bg: #ffffff;
  --text-dark: #1f2937;
  --border-light: #e5e7eb;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-dark);
}
.primary-btn {
  background-color: var(--primary);
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background-color: var(--primary-dark);
}